@keyframes fadeInScale {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeOutScale {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0);
  }
}

.splashscreen-fade-in {
  animation: fadeInScale 1.2s ease-out forwards;
}

.splashscreen-fade-out {
  animation: fadeOutScale 0.6s ease-in forwards;
}
